
nav {
    width: 100vw;
}

main {    
    max-width: 385px;
    padding: 40px 20px;
    border-radius: var(--rounded-8px);
    animation-name: loginRegister;
    animation-duration: 0.5s;
    
}

main form p {
    text-align: center;
}

@media(min-width: 600px) {
    main {
        max-width: 485px;         
        transition: 0.5s;               
    }

    .main-margin {
        margin: 110px auto;
    }    
}

@media(max-width: 599px) {
    main {
        transition: 0.5s;
    }
}