.navbar{
    background-color: var(--color-grey-1);
    padding: 1rem 1.25rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

.navbar-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu-links{
    display: flex;
    gap: 1rem;
}

.navbar-link{
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    cursor: pointer;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}